<launch>


  <node pkg="noisy_loc" name="noisy_loc_1" type="noisy_loc.py" output="screen">
    <param name="~/noise_sigma_position" type="double" value="0.005"/>
    <param name="~/noise_sigma_orientation" type="double" value="0.005"/>
    <param name="~/robot_frame" type="string" value="base_link"/>
    <param name="~/gt_frame" type="string" value="world"/>
    <param name="~/output_frame" type="string" value="noisy_loc_1"/>
    <param name="~/debug" type="bool" value="true"/>
  </node>

</launch>
